<!DOCTYPE html>
<html lang="en">
<head>
    <!-- tengo que colocar el normalice eso va hacer que se vea bien en todos los navegadores -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchening</title>
    <script src="https://kit.fontawesome.com/f51c662646.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

</head>
<body class="home">
   <header class="home-header">

    <div class="home-header-box-logo">
    <img class="home-header-logo" src="/img/logo.jpg" alt="">
    </div>

    <a href="" class="home-header-bars"><i class="fa fa-bars"></i></a>

    <nav class="home-header-nav-menu">
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/quienes">quienes</a></li>
            <li><a href="/servicios">servicios</a></li>
            <li><a href="/porfolios">porfolios</a></li>
            <li><a href="/sucursales">sucursales</a></li>
            <li><a href="/contacto">contacto</a></li>
            
        </ul>
    </nav>
   </header>

   <main class="home-main">
    <div class="home-main-section-banner ">
        <img  src="/img/img-banner.jpg" alt="">
    </div>

    <div class="home-main-section-products">
    <article class="home-main-section-product">
        <div class="home-main-section-article-box">
        <img class="home-main-section-article-img" src="/img/img-pdto-1.jpg" alt="">
        <img class="home-main-section-article-stickr" src="/img/img-nuevo.png" alt="">
        <a class="home-main-section-article-zoom" href="">AMPLIAR FOTO</a>
        </div>
        <h4 class="home-main-section-article-title">loem ipsum</h4>
        <p class="home-main-section-article-description">algo</p>
        <a class="home-main-section-article-more"  href="">ver más</a>
    </article>

    <article class="home-main-section-product">
        <div class="home-main-section-article-box">
        <img class="home-main-section-article-img" src="/img/img-pdto-2.jpg" alt=""> 
        <img class="home-main-section-article-stickr" src="img/img-gratis.png" alt=""> 
        <a class="home-main-section-article-zoom" href="">AMPLIAR FOTO</a>
        </div>
        <h4 class="home-main-section-article-title">loem ipsum</h4>
        <p class="home-main-section-article-description">algo</p>
        <a class="home-main-section-article-more"  href="">ver más</a>
    </article>

    <article class="home-main-section-product">
        <div class="home-main-section-article-box">
        <img class="home-main-section-article-img" src="img/img-pdto-3.jpg" alt="">
        <img class="home-main-section-article-stickr" src="img/img-descuento.png" alt=""> 
        <a class="home-main-section-article-zoom" href="">AMPLIAR FOTO</a>
        </div>
        <h4 class="home-main-section-article-title">loem ipsum</h4>
        <p class="home-main-section-article-description">algo</p>
        <a class="home-main-section-article-more"  href="">ver más</a>
    </article>

    <article class="home-main-section-product">
        <div class="home-main-section-article-box">
            <img class="home-main-section-article-img" src="/img/img-pdto-2.jpg" alt=""> 
            <img class="home-main-section-article-stickr" src="img/img-gratis.png" alt="">  
        <a class="home-main-section-article-zoom" href="">AMPLIAR FOTO</a>
        </div>
        <h4 class="home-main-section-article-title">loem ipsum</h4>
        <p class="home-main-section-article-description">algo</p>
        <a class="home-main-section-article-more"  href="">ver más</a>
    </article>

    <article class="home-main-section-product">
        <div class="home-main-section-article-box">
            <img class="home-main-section-article-img" src="/img/img-pdto-1.jpg" alt="">
            <img class="home-main-section-article-stickr" src="/img/img-nuevo.png" alt="">
        <a class="home-main-section-article-zoom" href="">AMPLIAR FOTO</a>
        </div>
        <h4 class="home-main-section-article-title">loem ipsum</h4>
        <p class="home-main-section-article-description">algo</p>
        <a class="home-main-section-article-more"  href="">ver más</a>
    </article>

    <article class="home-main-section-product">
        <div class="home-main-section-article-box">
        <img class="home-main-section-article-img" src="img/img-pdto-3.jpg" alt="">
        <img class="home-main-section-article-stickr" src="img/img-descuento.png" alt=""> 
        <a class="home-main-section-article-zoom" href="">AMPLIAR FOTO</a>
        </div>
        <h4 class="home-main-section-article-title">loem ipsum</h4>
        <p class="home-main-section-article-description">algo</p>
        <a class="home-main-section-article-more"  href="">ver más</a>
    </article>

    </div>
   </main>

   <footer class="home-footer">
    <nav class="home-footer-nav-menu">
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/quienes">quienes</a></li>
            <li><a href="/servicios">servicios</a></li>
            <li><a href="/porfolios">porfolios</a></li>
            <li><a href="/sucursales">sucursales</a></li>
            <li><a href="/contacto">contacto</a></li>
            
        </ul>
    </nav>
   </footer>
</body>
</html>